#currentProject{
    display: none;
    /* justify-content: space-around; */
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;

}

#currentProject h1{
    flex: 70%;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 300% !important;
       
}

#addTaskDiv{
    flex: 30%;
    /* margin-left: 20px; */
}

#taskList{
    flex: 100%;
    display: flex;
    flex-wrap: wrap;
 
}

.task{
    background-color: black;
    flex: 100%;
    margin-bottom: 10px;
    padding: 7px;
    margin-top: 7px;
    text-align: center;
    border: 2px solid white;
    font-size: 130%;
}


@media (min-width: 576px) {
    
}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    #addTaskDiv{
        /* margin-left: 120px; */
    }
}



/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}


/* // XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {}