#addProjectModal{
    color: black;
}
#addTasksBtn{
    position: relative;
    margin-left: 80%;
}
#projectTitle:focus{
outline: none;
}

.list-group-item{
    border-top-width: 1px !important; 
}

#priority{
    max-width: 168px !important; 
}